In [1]:
import pandas as pd

In [ ]:
# Import dataset containing cancer prevalence estimates by census tract

cdc_data_df = pd.read_csv('C:/Users/zthib/OneDrive/Desktop/EVE 310/Final Project/PLACES__Local_Data_for_Better_Health,_Census_Tract_Data_2024_release_20251130.csv')

In [ ]:
# Display first five rows of resulting data frame
cdc_data_df.head()

,Year,StateAbbr,StateDesc,CountyName,CountyFIPS,LocationName,DataSource,Category,Measure,Data_Value_Unit,...,Low_Confidence_Limit,High_Confidence_Limit,TotalPopulation,TotalPop18plus,Geolocation,LocationID,CategoryID,MeasureId,DataValueTypeID,Short_Question_Text
0,2022,FL,Florida,Miami-Dade,12086,12086005805,BRFSS,Health Outcomes,Cancer (non-skin) or melanoma among adults,%,...,6.6,8.2,"2,787","2,361",POINT (-80.275689 25.7676529),12086005805,HLTHOUT,CANCER,CrdPrv,Cancer (non-skin) or Melanoma
1,2022,FL,Florida,Miami-Dade,12086,12086002501,BRFSS,Health Outcomes,Cancer (non-skin) or melanoma among adults,%,...,4.6,5.6,"5,459","4,173",POINT (-80.2179628 25.8058883),12086002501,HLTHOUT,CANCER,CrdPrv,Cancer (non-skin) or Melanoma
2,2022,FL,Florida,Miami-Dade,12086,12086001901,BRFSS,Health Outcomes,Cancer (non-skin) or melanoma among adults,%,...,4.5,5.5,"4,950","3,646",POINT (-80.2114174 25.8340918),12086001901,HLTHOUT,CANCER,CrdPrv,Cancer (non-skin) or Melanoma
3,2022,FL,Florida,Miami-Dade,12086,12086009323,BRFSS,Health Outcomes,Cancer (non-skin) or melanoma among adults,%,...,6.2,7.6,"2,963","2,499",POINT (-80.3184685 25.8818013),12086009323,HLTHOUT,CANCER,CrdPrv,Cancer (non-skin) or Melanoma
4,2022,FL,Florida,Miami-Dade,12086,12086002709,BRFSS,Health Outcomes,Cancer (non-skin) or melanoma among adults,%,...,4.0,4.8,"5,273","4,706",POINT (-80.1860897 25.793705),12086002709,HLTHOUT,CANCER,CrdPrv,Cancer (non-skin) or Melanoma

In [ ]:
# View basic information about the data frame
cdc_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83522 entries, 0 to 83521
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        83522 non-null  int64
 1   StateAbbr                   83522 non-null  object
 2   StateDesc                   83522 non-null  object
 3   CountyName                  83522 non-null  object
 4   CountyFIPS                  83522 non-null  int64
 5   LocationName                83522 non-null  int64
 6   DataSource                  83522 non-null  object
 7   Category                    83522 non-null  object
 8   Measure                     83522 non-null  object
 9   Data_Value_Unit             83522 non-null  object
 10  Data_Value_Type             83522 non-null  object
 11  Data_Value                  83522 non-null  float64
 12  Data_Value_Footnote_Symbol  0 non-null      float64
 13  Data_Value_Footnote         0 non-null      float64
 14  Low_Confidence_Limit        83522 non-null  float64
 15  High_Confidence_Limit       83522 non-null  float64
 16  TotalPopulation             83522 non-null  object
 17  TotalPop18plus              83522 non-null  object
 18  Geolocation                 83522 non-null  object
 19  LocationID                  83522 non-null  int64
 20  CategoryID                  83522 non-null  object
 21  MeasureId                   83522 non-null  object
 22  DataValueTypeID             83522 non-null  object
 23  Short_Question_Text         83522 non-null  object
dtypes: float64(5), int64(4), object(15)
memory usage: 15.3+ MB

In [ ]:
# Select only the columns needed for the analysis
census_data_df = cdc_data_df[['LocationName', 'Data_Value']].copy()

In [ ]:
# Display the first five rows of the resulting data frame
census_data_df.head()

   LocationName  Data_Value
0   12086005805         7.4
1   12086002501         5.0
2   12086001901         5.0
3   12086009323         6.9
4   12086002709         4.4

In [35]:
# Import file with census tracts containing Superfund sites (created in ArcGIS)
superfund_df = pd.read_csv('C:/Users/zthib/OneDrive/Desktop/EVE 310/Final Project/superfund_tracts_w_id.csv')

In [36]:
# Display the first five rows of the resulting data frame
superfund_df.head()

,Join_Count,TARGET_FID,JOIN_FID,STATE_ABBR,STATE_FIPS,COUNTY_FIPS,STCOFIPS,TRACT_FIPS,FIPS,POPULATION,...,COUNTY,STATE_CODE,ZIP_CODE,SITE_CONTACT_NAME,PRIMARY_TELEPHONE_NUM,SITE_CONTACT_EMAIL,Shape_Length_1,Shape_Area_1,Shape_Length,Shape_Area
0,1,1,666,AL,1,3,1003,10200,1003010200,3071,...,BALDWIN,AL,36562,Xaimara Santiago Maldonado,(404) 936-1917,SantiagoMaldonado.Xaimara@epa.gov,0.032836,0.000038,0.735054,0.020969
1,1,2,665,AL,1,13,1013,953200,1013953200,3960,...,BUTLER,AL,36037,Erik Spalvins,(404) 562-8938,Spalvins.Erik@epa.gov,0.009032,0.000002,1.113803,0.045712
2,1,3,936,AL,1,15,1015,500,1015000500,1081,...,CALHOUN,AL,36201,Pam Scully,(404) 562-8935,scully.pam@epa.gov,1.396409,0.003491,0.073481,0.000227
3,1,4,936,AL,1,15,1015,1000,1015001000,5622,...,CALHOUN,AL,36201,Pam Scully,(404) 562-8935,scully.pam@epa.gov,1.396409,0.003491,0.211471,0.001622
4,1,5,936,AL,1,15,1015,1201,1015001201,3281,...,CALHOUN,AL,36201,Pam Scully,(404) 562-8935,scully.pam@epa.gov,1.396409,0.003491,0.134043,0.000712

In [37]:
# View basic information about the data frame
superfund_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5312 entries, 0 to 5311
Data columns (total 47 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Join_Count                     5312 non-null   int64
 1   TARGET_FID                     5312 non-null   int64
 2   JOIN_FID                       5312 non-null   int64
 3   STATE_ABBR                     5312 non-null   object
 4   STATE_FIPS                     5312 non-null   int64
 5   COUNTY_FIPS                    5312 non-null   int64
 6   STCOFIPS                       5312 non-null   int64
 7   TRACT_FIPS                     5312 non-null   int64
 8   FIPS                           5312 non-null   int64
 9   POPULATION                     5312 non-null   int64
 10  POP_SQMI                       5312 non-null   float64
 11  SQMI                           5312 non-null   float64
 12  POPULATION_2020                5312 non-null   int64
 13  POP20_SQMI                     5312 non-null   float64
 14  REGION_CODE                    5312 non-null   int64
 15  EPA_PROGRAM                    5290 non-null   object
 16  EPA_ID                         5312 non-null   object
 17  SITE_NAME                      5312 non-null   object
 18  SITE_FEATURE_CLASS             5312 non-null   int64
 19  SITE_FEATURE_TYPE              5304 non-null   object
 20  SITE_FEATURE_NAME              5237 non-null   object
 21  SITE_FEATURE_DESCRIPTION       5283 non-null   object
 22  LAST_CHANGE_DATE               4854 non-null   object
 23  ORIGINAL_CREATION_DATE         4245 non-null   object
 24  SITE_FEATURE_SOURCE            5099 non-null   object
 25  FEATURE_INFO_URL               3853 non-null   object
 26  FEATURE_INFO_URL_DESC          3682 non-null   object
 27  PROJECTION                     2219 non-null   object
 28  GIS_AREA                       5092 non-null   float64
 29  GIS_AREA_UNITS                 5119 non-null   object
 30  SF_GEOSPATIAL_DATA_DISCLAIMER  3953 non-null   object
 31  URL_ALIAS_TXT                  5294 non-null   object
 32  NPL_STATUS_CODE                5165 non-null   object
 33  FEDERAL_FACILITY_DETER_CODE    4984 non-null   object
 34  STREET_ADDR_TXT                5102 non-null   object
 35  ADDR_COMMENT                   1852 non-null   object
 36  CITY_NAME                      5103 non-null   object
 37  COUNTY                         5103 non-null   object
 38  STATE_CODE                     5103 non-null   object
 39  ZIP_CODE                       5078 non-null   object
 40  SITE_CONTACT_NAME              4880 non-null   object
 41  PRIMARY_TELEPHONE_NUM          4876 non-null   object
 42  SITE_CONTACT_EMAIL             4876 non-null   object
 43  Shape_Length_1                 5312 non-null   float64
 44  Shape_Area_1                   5312 non-null   float64
 45  Shape_Length                   5312 non-null   float64
 46  Shape_Area                     5312 non-null   float64
dtypes: float64(8), int64(12), object(27)
memory usage: 1.9+ MB

In [43]:
# Select only the FIPS column (this is the identifier for the census tract and is the only information necessary for the analysis)

superfund_tracts_df = superfund_df[['FIPS', 'EPA_ID']].copy()

In [44]:
# Clean both data frames so the tract IDs are the same data type (string)
superfund_tracts_df['FIPS'] = superfund_tracts_df['FIPS'].astype(str).str.zfill(11)
census_data_df['LocationName'] = census_data_df['LocationName'].astype(str).str.zfill(11)

In [47]:
superfund_cancer_df = pd.merge(
    census_data_df,               
    superfund_tracts_df[['FIPS', 'EPA_ID']],        
    left_on='LocationName',        
    right_on='FIPS',               
    how='inner'                    
)

In [48]:
# View basic information about the data frame
superfund_cancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5191 entries, 0 to 5190
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationName  5191 non-null   object
 1   Data_Value    5191 non-null   float64
 2   FIPS          5191 non-null   object
 3   EPA_ID        5191 non-null   object
dtypes: float64(1), object(3)
memory usage: 162.3+ KB

In [49]:
# Drop one of the duplicate columns
superfund_cancer_df = superfund_cancer_df.drop(columns = ['LocationName'])

In [50]:
superfund_cancer_df.head()

   Data_Value         FIPS        EPA_ID
0         5.0  12086001901  FLD982130098
1         7.3  12086006002  FLD071307680
2         4.5  12086010705  FL7570024037
3         4.4  12086011008  FL7570024037
4         3.8  12086010803  FLD004146346